{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>

    <link rel="stylesheet" href="{% static 'chat/mystyle.css' %}" />
  </head>
  <body>
    <nav>
      <a class="brand" href="#">SaBay</a>
      <div class="nav-links">
        <a href="#" class="active">Messages</a>
        <a href="explore.html">Explore</a>
        <a href="#about">Profile</a>
      </div>
    </nav>
    <main>
      <div class="message-layout">
        <aside class="conversation-list">
            <ul class="conversation-items">
                <li class="conversation-item" data-room="olga-room">
                    <span class="converstion-name">Olga</span>
                    <span class="conversation-preview">he-he</span>
                </li>
                <li class="conversion-item" data-room="diana-room">
                    <span class="conversation-name">Diana</span>
                    <span class="conversation-preview">diannaaaa</span>
                </li>
            </ul>
        </aside>
        <section class="active-thread">
            <p class="placeholder-text">this is where specific converstion theres, clicka person to chat with, converstion opens here</p>
        </section>
        <div class="sidebar-right">
            <div class="profile-detail">
                <p class="placeholder-text">profile detail of the person being texted</p>
            </div>
            <div class="suggested-profiles ">
                <p class="placeholder-text">this is where suggested profiles or people you haven't texted</p>
            </div>
        </div>
      </div> 
    </br> 
      <!-- <p>What chat room would you like to enter?</p>
      <br />
      <input id="room-name-input" type="text" size="100" /><br />
      <input id="room-name-submit" type="button" value="Enter" /> -->
    </main>
    <script>
    //   document.querySelector("#room-name-input").focus();
    //   document.querySelector("#room-name-input").onkeyup = function (e) {
    //     if (e.key === "Enter") {
    //       // enter, return
    //       document.querySelector("#room-name-submit").click();
    //     }
    //   };

    //   document.querySelector("#room-name-submit").onclick = function (e) {
    //     var roomName = document.querySelector("#room-name-input").value;
    //     window.location.pathname = "/chat/" + roomName + "/";
    //   };
      document.querySelectorAll('.conversation-item').forEach(function (item){
        item.onclick = function(){
            var roomName =item.dataset.room;
            window.location.pathname = '/chat/' + roomName + '/';
        };
      });
    </script>
  </body>
</html>
